# Configuración de Base de Datos
# Ejemplo: si usa el contenedor Postgres local, la contraseña de ejemplo es 'postgres'
DB_URL=jdbc:postgresql://localhost:5432/events_db
DB_USERNAME=postgres
DB_PASSWORD=postgres

# Configuración de Cloudinary (Imágenes)
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret