.glass-effect {
    background: rgba(115, 115, 115, 0.4);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Prevenir scroll cuando el modal está abierto */
.modal-open { 
    overflow: hidden; 
}